.progress-container{
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: 100%;
    overflow-y: scroll;
    padding: 1em;
}
.progress-card{
    display: flex;
    gap: 1em;
    width: 100%;
    padding: 1em;
    align-items: center;
    transition: .5s ease-in-out all;
    border-radius: 1em;
border: .05em solid hsl(0, 0%, 75%) ;
}
.progress-card:hover{
    scale: 103%;
    transition: .5s ease-in-out all;
     box-shadow: 0px 0px 20px #00000022;
}

.progress-card-image{
    width: 50px;
    height: 50px;
    object-position: center;
    object-fit: cover;
    max-width: 100%;
    display: block;
}
.progress-wrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5em;
}
.progress-card-title{
    margin: 0;
    font-size: 14px;
}
.progress-card-bar{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.progress-card-bar p{
    font-size: 12px;
    margin: 0;
}

