@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color: #00aaff;
  --primary-light: #00aaff;
  --primary-dark: #007acc;
  --primary-bg: #91c9e4;
  --primary-bg-light: #c4f6fdb8;
  --primary-color-heading: #00aaff;
  
  
  /* --primary-bg-light: #55c6ab; */
  /* --primary-bg: #11b490; */
  /* --primary-dark: #02a380; */
  /* --primary-light:#004d3b; */
  /* --primary-color:#004d3b; */
  --shadow-color: rgba(0, 0, 0, 0.2);
  --shadow-light: rgba(0, 0, 0, 0.1);

  /* background-color: #004d3b; */
  /* --primary-bg: #004d3b; */
  /* --primary-bg:hsl(142.33,66.15%,87.25%); */
  /* --primary-bg:hsl(147,90.91%,95.69%); */
  /* --primary-light: var(--primary-bg); */
  /* --primary-light: var(--primary-color); */
  /* --primary-dark:hsl(143.16,90.48%,24.71%); */
  /* --primary-color:hsl(143.38,64.71%,46.67%);  */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif !important;
}

html,
body {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
  font-family: "poppins", sans-serif !important;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

main {
  min-height: 100dvh;
  height: 100%;
  width: 100%;
}

* {
  font-family: poppins;
}

a {
  text-decoration: none;
}
